[submodule "src/third_party/local_feature/LightGlue"]
	path = src/third_party/local_feature/LightGlue
	url = https://github.com/cvg/LightGlue.git
[submodule "src/third_party/global_feature/MixVPR"]
	path = src/third_party/global_feature/MixVPR
	url = https://github.com/amaralibey/MixVPR.git
