vim
git
wget
python3.8
python3-pip
pkg-config
cmake
build-essential
glibc-source
gfortran
linux-libc-dev
libboost-program-options-dev
libboost-filesystem-dev
libboost-graph-dev
libboost-system-dev
libboost-test-dev
libboost-regex-dev
libeigen3-dev
libfreeimage-dev
libgflags-dev
libglew-dev
qtbase5-dev
libqt5opengl5-dev
libcgal-dev
qt5-default
libcgal-qt5-dev
libcairo2-dev
libgirepository1.0-dev
libatlas-base-dev
#libopenblas-dev
#libsuitesparse-dev
mercurial
info
lzip
m4
libmpfr-dev
