#numpy
streamlit
plotly
pandas
addict
angles
appdirs
astroid
asttokens
attrdict
attrs
backcall
bond
brotlipy
certifi
cffi
charset-normalizer
click
cloudpickle
cmake
comm
ConfigArgParse
contourpy
cryptography
cuda-python
cycler
cytoolz
dash
dash-core-components
dash-html-components
dash-table
dataloaders
debugpy
decorator
deepspeed
dill
einops
executing
faiss-cpu
faiss-gpu-cu12
fastjsonschema
filelock
Flask
fonttools
fsspec
functorch
future
#h5py
hjson
idna
#imagecodecs
Img2STL
imageio
importlib-metadata
importlib-resources
ipykernel
ipython
ipywidgets
isort
itsdangerous
jedi
Jinja2
joblib
jpysocket
jsonschema
jupyter_client
jupyter_core
jupyterlab-widgets
kiwisolver
kornia
lazy-object-proxy
lit
locket
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mkl-service
mpmath
msgpack
munkres
natsort
nbformat
nest-asyncio
networkx
ninja
#nvidia-cublas-cu11
#nvidia-cuda-cupti-cu11
#nvidia-cuda-nvrtc-cu11
#nvidia-cuda-runtime-cu11
#nvidia-cudnn-cu11
#nvidia-cufft-cu11
#nvidia-curand-cu11
#nvidia-cusolver-cu11
#nvidia-cusparse-cu11
#nvidia-nccl-cu11
#nvidia-nvtx-cu11
#octomap-msgs
#open3d
open3d
opencv-contrib-python
opencv-python
osrf-pycommon
packaging
pandas
parso
partd
pexpect
pickleshare
Pillow
pkgutil_resolve_name
platformdirs
plotly
ply
pooch
#poselib @ file:///home/unav/Desktop/UNav_server/PoseLib/_build_python/pybind/pip_package/poselib-2.0.0-cp38-cp38-linux_x86_64.whl
#poselib
POT
prettytable
prompt-toolkit
psutil
ptyprocess
pure-eval
py-cpuinfo
#pybind11 @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1648908988597/work
pybind11
#pybind11-global @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1648908988597/work
pybind11-global
pycairo
pycollada
#pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycparser
pydantic
pyds
Pygments
PyGObject
#pyimplicitdist @ file:///home/unav/Desktop/UNav_server/implicit_dist

pylint
#pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyOpenSSL
#pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
pyparsing
PyQt5-sip
pyquaternion
PyRIC
pyrsistent
#PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
PySocks
#python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dateutil
#python-qt-binding
python-qt-binding
pytorch-lightning
pytorch-metric-learning
pyparsing
pytz
#PyWavelets @ file:///croot/pywavelets_1670425177960/work
PyWavelets
#PyYAML @ file:///croot/pyyaml_1670514731622/work
PyYAML
pyzmq
#qt-dotgraph
#qt-gui
#qt-gui-cpp
#qt-gui-py-common
#quality-of-service-demo-py
#rcl-interfaces
#rclpy
#rcutils
#realsense2-camera-msgs
#requests @ file:///opt/conda/conda-bld/requests_1657734628632/work
requests
#resource-retriever
#rmw-dds-common
#robot-localization
#ros2action
#ros2bag
#ros2cli
#ros2component
#ros2controlcli
#ros2doctor
#ros2interface
#ros2launch
#ros2lifecycle
#ros2multicast
#ros2node
#ros2param
#ros2pkg
#ros2run
#ros2service
#ros2topic
#rosbag2-interfaces
#rosbag2-py
#rosgraph-msgs
#rosidl-adapter
#rosidl-cli
#rosidl-cmake
#rosidl-generator-c
#rosidl-generator-cpp
#rosidl-generator-py
#rosidl-parser
#rosidl-runtime-py
#rosidl-typesupport-c
#rosidl-typesupport-cpp
#rosidl-typesupport-fastrtps-c
#rosidl-typesupport-fastrtps-cpp
#rosidl-typesupport-introspection-c
#rosidl-typesupport-introspection-cpp
#rpyutils
#rqt-action
#rqt-bag
#rqt-bag-plugins
#rqt-console
#rqt-graph
#rqt-gui
#rqt-gui-py
#rqt-msg
#rqt-plot
#rqt-publisher
#rqt-py-common
#rqt-py-console
#rqt-reconfigure
#rqt-service-caller
#rqt-shell
#rqt-srv
#rqt-topic
#rtabmap-msgs
#rtabmap-python
#scapy
scapy
#scikit-image @ file:///home/conda/feedstock_root/build_artifacts/scikit-image_1645196656555/work
scikit-image
#scikit-learn @ file:///croot/scikit-learn_1676911643119/work
scikit-learn
scipy
#scripts
scripts
#sensor-msgs
#sensor-msgs-py
#shape-msgs
shapely
#sip @ file:///tmp/abs_44cd77b_pu/croots/recipe/sip_1659012365470/work
sip
#six @ file:///tmp/build/80754af9/six_1644875935023/work
six
#slam-toolbox
#smclib
#sros2
stack-data
#statistics-msgs
#std-msgs
#std-srvs
#stereo-msgs
sympy
#teleop-twist-keyboard
tenacity
#tf2-geometry-msgs
#tf2-kdl
#tf2-msgs
#tf2-py
#tf2-ros-py
#tf2-tools
#threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
threadpoolctl
#tifffile @ file:///tmp/build/80754af9/tifffile_1627275862826/work
tifffile
timm
#toml @ file:///tmp/build/80754af9/toml_1616166611790/work
toml
tomli
tomlkit
#toolz @ file:///croot/toolz_1667464077321/work
toolz
#topic-monitor
#torch
#torch
#torchaudio
#torchaudio
#torchvision
#torchvision
#tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
tornado
tqdm
traitlets
#trajectory-msgs
trimesh
triton
ttkbootstrap
#turtlebot3-example
#turtlebot3-msgs
#turtlebot3-teleop
#turtlesim
#typing_extensions @ file:///croot/typing_extensions_1681939499988/work
typing_extensions
tzdata
#unique-identifier-msgs
#urllib3 @ file:///croot/urllib3_1673575502006/work
urllib3
#velodyne-msgs
#visualization-msgs
wcwidth
Werkzeug
widgetsnbextension
wrapt
#wxPython
#xacro
#zipp @ file:///croot/zipp_1672387121353/work
zipp
